# NumPy Data Types

1. Create a NumPy array called arr1 with the following values: [1, 2, 3, 4, 5]. Specify the data type as int32.

In [12]:
import numpy as np

In [13]:
arr1=np.array([1,2,3,4,5],dtype=np.int32)
arr1

array([1, 2, 3, 4, 5], dtype=int32)

2. Create another NumPy array called arr2 with the following values: [1.5, 2.5, 3.5, 4.5, 5.5]. Let NumPy infer the data type automatically.

In [14]:
arr2=np.array([1.5,2.5,3.5,4.5,5.5])
arr2

array([1.5, 2.5, 3.5, 4.5, 5.5])

3. Perform element-wise addition between arr1 and arr2 and store the result in a new array called result. Print the data type of result.

In [15]:
result=arr1+arr2
result
result.dtype

dtype('float64')

4. Create a structured array called student with the following fields: "name" (string of length 10), "age" (integer), and "grade" (float). Initialize the array with the following values:
- ("John", 18, 85.5)
- ("Alice", 20, 92.0)
- ("Bob", 19, 88.7)

In [16]:
datatype=[('Name','U10'),('Age','u1'),('Grade','f4')]
arr=np.array([("John", 18, 85.5),("Alice", 20, 92.0),("Bob", 19, 88.7)],dtype=datatype)
arr
arr[0]

np.void(('John', 18, 85.5), dtype=[('Name', '<U10'), ('Age', 'u1'), ('Grade', '<f4')])

5. Access and print the "name" field of the student array.

In [17]:
arr["Name"]

array(['John', 'Alice', 'Bob'], dtype='<U10')

6. Convert the grade field of the student array to an integer data type using explicit type casting.

In [18]:
arr['Grade'].astype(int)

array([85, 92, 88])

7. Create a boolean array called mask that checks whether each element in arr1 is greater than 3.

In [19]:
mask=arr1>3
mask

array([False, False, False,  True,  True])

8. Use boolean indexing to extract the elements from arr1 that correspond to the True values in mask.

In [20]:
arr1[mask]

array([4, 5], dtype=int32)

9. Calculate the memory consumed by arr1 and arr2 in bytes.

In [21]:
arr1.nbytes

20

In [22]:
arr2.nbytes

40

10. Create a new array called arr3 with the same shape as arr1 but with a float32 data type. Initialize it with zeros.

In [23]:
arr3=np.zeros_like(arr1,dtype=np.float32)
arr3

array([0., 0., 0., 0., 0.], dtype=float32)